/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]



/* THEME BRG4 CSS SETTINGS
-------------------------*/

/* Banner & Top Navigation
-------------------------*/

.navbar-inner {
	background-color:rgb(231,80,32) !important;
	border-color:rgb(231,80,32) !important;
	border-width:0px !important;
	background-image: none;
	text-align:center;
}

nav .dropdown-menu, nav .menu {
	background-color:rgb(231,80,32) !important;
}
nav .usermenu .moodle-actionmenu.show .menu:after {
    border-bottom-color:rgb(231,80,32) !important;
}

#action-menu-0-menubar
{
	margin-top:-7px !important;
	padding-top:7px !important;
	margin-bottom:-7px !important;
	padding-bottom:7px !important;
}

nav li.dropdown.open > .dropdown-toggle,
nav .usermenu .moodle-actionmenu.show
{
	/* moodle hat gray */
	/* background-color:#3b3b3b !important; */
	background-color:#00679b !important;
}

nav .caret {
    border-top-color: #fee924 !important;
}
.caret {
    border-top-color: #380ec3 !important;
}

.navbar-inner a,
.navbar-inner .dropdown-toggle,
.usermenu a,
.usermenu .login
{
	color: #fee924 !important;
	text-shadow: 1px 1px 2px #3b3b3b !important;
	font-weight:bold !important;
}

.usermenu {
	margin-top:7px;
}

a.brand {
	margin:0px !important;
	padding:0px !important;
}

/**************************************************
Theming of svg icons
***************************************************/

/* use if svg is inline

#action-menu-0-menu .icon {
	color: #fee924 !important;
}
#action-menu-0-menu .iconsmall svg {
	fill: currentColor !important;
}
*/

#action-menu-0-menu .icon {
	vertical-align:middle;
}

.error .icon,
#action-menu-0-menu .iconsmall
{
	background-color:#fee924 !important;
	padding:2px !important;
}

/**************************************************
Hide language menu
***************************************************/

.langmenu,
.btn-navbar,
.sitelink,
.page-header-headings
{
	display:none !important;
}

/**************************************************
Styling for contents (not Banner)
***************************************************/


#maincontent + h1,
#maincontent + h2,
#maincontent + h3,
#maincontent + h4,
#maincontent + h5,
#maincontent + h6,
div > h1:first-child,
div > h2:first-child,
div > h3:first-child,
div > h4:first-child,
div > h5:first-child,
div > h6:first-child
{
	margin-top:0px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  margin-top: 10px;
}

dt {
	font-weight:bold;
}
code {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	padding: 3px 4px;
}
code, pre {
	border-radius: 3px 3px 3px 3px;
	color: #444444;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	padding: 0 3px 2px;
}

li.label h3:first-of-type { /* gives extra space before label headings */
  padding-top: 1em;
}

body {
	background-color:#a7c8fd !important;
	color:#6d45f2 !important;
}

a {
	color:#380ec3 !important;
}

.single-section,
.section,
.course_category_tree .category > .info,
.courses .coursebox,
.coursebox,
.breadcrumb,
.block {
    background-color: #e6eefb !important;
    border: 1px solid #8cb7fd !important;
}


.courses .coursebox.even,
.r1
{
    background-color: #dae6fb !important;
}

.section .section {
    background-color: transparent !important;
    border-width:0px !important;
}

.block .header h2 {
	color:inherit !important;
}

.error {
	color:#fee924 !important;
	background-color:#e75020 !important;
	padding:0.5em;
	font-weight:bold;
}

table#form td.submit,
.form-buttons,
#fitem_id_submitbutton,
.fp-content-center form + div,
div.backup-section + form,
#fgroup_id_buttonar,
.buttons
{
	background-color: transparent !important;
}

.form-shortname,
.form-defaultinfo,
.dimmed {
	color:#9579f2 !important;
}
.form-description, legend {
	color:#6d45f2 !important;
}

a.menu-action:hover {
    background-color: #dae6fb !important;
}

#adminsettings h3 {
	color:#6d45f2 !important;
}

#newmessageoverlay {
	background-color: #fcf290;
}

ul.topics li.current {
  background-color: #F1F0C4 !important;;
}

content ul, content ol, content dl {
    margin-bottom: 10px;
}
